@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('./hljs.css');

* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  background: #282C34;
  color: #ABB2BF;
  font-family: "Merriweather";
  max-width: 620px;
  margin: 100px auto;
  font-size: 16px;
  padding: 2em;
}

p,
ol,
ul {
  margin-bottom: 1em;
  font-size: 1em;
  line-height: 2em;
  padding: 10px;
  transition: all 0.05s;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}

a {
  color: inherit;
}

::selection {
  background: white;
  color: black;
}

ol,
ul {
  margin-left: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 10px;
  margin-bottom: 0.5em;
  line-height: 1.5em;
}

h1,
h2 {
  margin-top: 2em;
}

h3,
h4,
h5,
h6 {
  margin-top: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
blockquote {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.65);
}

blockquote {
  background: #2C313C;
  padding: 1em;
  font-style: italic;
}

blockquote p:last-child {
  margin-bottom: 0;
}

p img {
  display: block;
  max-width: 100%;
  margin: auto;
  border-radius: 3px;
}

code {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
}

.me {
  display: block;
  width: 150px;
  height: 150px;
  margin: auto;
  border-radius: 100%;
  margin-bottom: 1em;
}

.sitetitle {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 0em;
}

.sitetitle:after {
  display: block;
  content: "";
  width: 25%;
  height: 1px;
  margin: 1.25em auto;
  background: #ABB2BF;
}

.posts {}

.posts li {}

.posts li a {
  color: inherit;
  text-decoration: none;
}

.posts li a:hover {
  text-decoration: underline;
}

.posts li a:visited {
  color: #7e838d;
}

.back {
  margin: 3em 0;
  display: block;
  text-align: center;
  color: inherit;
  text-decoration: none;
}

.back:hover {
  text-decoration: underline;
}

.back:before {
  display: block;
  content: "";
  width: 25%;
  height: 1px;
  margin: 1.25em auto;
  background: #ABB2BF;
}

.hljs {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  padding: 1em;
}