<!doctype html>
<html>

<head>
  <title>
    <% if(typeof post !== 'undefined') { %>
    <%= post.title %> —
    <% } %>
    Emile Nijssen's Blog
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="icon" type="image/png" href="/img/me.jpg">
</head>

<body>

  <a href="/"><img class="me" src="/img/me.jpg" alt="My head" /></a>
  <div class="sitetitle">Emile Nijssen's Blog</div>

  <% if(typeof post !== 'undefined') { %>
  <%- post.html; %>

  <a class="back" href="/">← All Posts</a>

  <% } else { %>
  <ol class="posts" reversed>
    <% posts.forEach(post => { %>
    <li><a href="/<%= post.id %>/"><%= post.title %></a></li>
    <% }) %>
  </ol>
  <% } %>

  <!-- Start of athom Zendesk Widget script -->
  <script id="ze-snippet"
    src="https://static.zdassets.com/ekr/snippet.js?key=3274d301-d3c0-44a2-a8ab-be2cb018ef8b"> </script>
  <!-- End of athom Zendesk Widget script -->
</body>

</html>